*,
::after,
::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
@font-face {
    font-family: 'musashi';
    src: url('../fonts/MUSASHI.ttf') format('truetype');
    font-size: xx-large;

}
@font-face {
    font-family: 'samurai';
    src: url('../fonts/SamuraiBlast.woff') format('truetype');
}

#container{
    background-image: url(../image/resto.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 85vh;
}
  
body {
    font-family: 'samurai', sans-serif;
    font-size: 1.2em;
}

header{
    height: 70px;
    background-color: #fef6eb;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 50px;
    width:50px ;
    margin-left: 10px;
}

header>nav>button{
    height: 60px;
    width: 115px;
    border: 0px;
    background-color: transparent;
    font-family: 'samurai', sans-serif;
    font-size: x-large;
}

header>nav>button:hover{
    text-decoration: underline black;
    color: #BC002D;
}
footer{
    height: 5.4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #feaeaf;
}
footer>a{
    text-decoration: none;
    color: black;
}
footer>a::before{
    color: WHITE;
}
footer>a::after{
    color: WHITE;
}
footer>a:hover{
    color: #BC002D;
}
@media screen and (max-width: 600px){
    header>nav>button{
        font-size: 77%;
        width: 70px;

    }
}
