.cardsContainer{
    height: 85vh;
    background-color: #000000a8;
    text-align: center;
    color: white;
    display: flex;
    font-size: x-small;
    overflow-x:auto;
    overflow-anchor:auto;
    align-items: center;

    scrollbar-color: #feaeaf #0000004a;

}

.text{
    width: 250px;
    font-size: large;
    
}
.card{
    width: 500px;
    height: 250px;
    padding: 10px;
    margin: 0px 0px 0px 20px;
    background-color: #fafafab1;
    display: flex;
    align-items: center;
    border: 2px solid #BC002D;
    border-radius: 10px;
    text-align: start;
    background-image: url(../image/motifJaponais-modified.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.card>.text>h2{
    text-align: center;
    color :#BC002D;
}

.card>.text>p{
    color: #FFF
}

.card:hover{
    box-shadow: 0px 0px 20px #BC002D;
}


@media screen and (max-width: 600px){
    .cardsContainer{
        flex-direction: column;
        
    }
    .card{
        width: 350px;
        height: 400px;
        margin: 20px 0px 10px 0px;
        padding: 15px;
        gap: 5px;
    }
    .card > .image>img{
        width: 175px;
    }
}